.bg-primary-color {
  background-color: #377771;
}

.primary-button {
  background-color: #377771;
  border-color: #265752;
}
.primary-button:hover {
  background-color: #4ce0b3 !important;
  border: none;
}

.secondary-button {
  background-color: #ed6a5e;
  border-color: #c4574d;
}
.secondary-button:hover {
  background-color: #ff8e72 !important;
  border: none;
}

.dropdownSizesControl {
  width: 400px;
}
.dropdownSizesControl a {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icon {
  width: 40px;
  height: 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
