.bg-primary-color {
  background-color: #377771;
  border-color: #265752 !important;
}
.bg-dashborad-color {
  /* background-color: #16302d; */
}

.primary-button {
  background-color: #377771;
  border-color: #265752;
}
.primary-button:hover {
  background-color: #4ce0b3 !important;
  border: none;
}

.secondary-button {
  background-color: #ed6a5e;
  border-color: #c4574d;
}
.secondary-button:hover {
  background-color: #ff8e72 !important;
}

.sidebar-primary-button {
  /* background-color: #377771; */
  border: none;
}
.sidebar-primary-button:hover {
  /* background-color: #16302d !important;
  border: 2 px solid #265752; */
  border-radius: 15px;
  cursor: pointer;
}
.card-style {
  /* border: 2 px solid #265752; */
  border-radius: 15px;
}
.dropdownSizesControl {
  width: 400px;
}
.dropdownSizesControl a {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.size-sidebar {
  width: 200px;
  transition: width 0.3s ease;
  height: 500px;
}
.size-sidebar-collapsed {
  width: 70px; /* Larghezza desiderata quando la Sidebar è chiusa */
  height: 500px;
  transition: width 0.3s ease;
}
.icon {
  width: 40px;
  height: 40px;
}
.min-height-100 {
  min-height: 100vh;
}
.form-box {
  min-width: 500px;
  min-height: 500px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  margin-block: auto;
  margin-inline: auto;
}
.App {
  font-family: "Montserrat", sans-serif !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.myLinks {
  color: #18272f;
  position: relative;
  text-decoration: none;
}

.myLinks::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.myLinks:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* title navbar */
.myTitle {
  font-size: 22px;
  text-decoration: none;
  color: black;
}
